<div class="positioned">
  <form action="/home" method="post">
    <input type="text" name="title" class="textBox" placeholder="Title"></input>
    <input type="text" name="date" class="textBox" placeholder="Date"></input>
    <input type="text" name="description" class="textBox" placeholder="Description"></input>
    <input type="submit" value="Submit"></input>
  </form>
</div>
