<div class="positioned">
  <h1>Voyage</h1>
  <div class="yourTrips">
    <img src="https://cdn.londonandpartners.com/assets/73295-640x360-london-skyline-ns.jpg" class="cardImage">
    <h1>London<h1>
  </div>
  <div class="yourTrips">
    <img src="https://www.city.ac.uk/__data/assets/image/0009/328797/building-partnerships.jpg" class="cardImage">
  </div>
  <div class="yourTrips">
    <img src="https://cdn.londonandpartners.com/assets/73295-640x360-london-skyline-ns.jpg" class="cardImage">
  </div>
  <form action="/home" method="post">
      <input type="submit" class="button" name="newTrip" value="Create New Trip"></button>
  </form>
</div>
